mqtt-broker/.secrets
mqtt-broker/config/passwords
admin-platform/.env
admin-platform/data/app.db
admin-platform/data/.smbdelete*
mqtt-broker/data/mosquitto.db
mqtt-broker/data/.smbdelete*
mqtt-broker/log/mosquitto.log
