[Unit]
Description=Chromium Kiosk Mode for InfoScreen
After=graphical.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/chromium-browser \
  --kiosk \
  --autoplay-policy=no-user-gesture-required \
  --disable-restore-session-state \
  --disable-session-crashed-bubble \
  --noerrordialogs \
  --disable-infobars \
  --disable-features=TranslateUI \
  --disable-translate \
  --no-first-run \
  --fast \
  --fast-start \
  --no-sandbox \
  --ignore-gpu-blocklist \
  --enable-gpu-rasterization \
  --enable-zero-copy \
  --enable-features=VaapiVideoDecoder \
  --use-gl=egl \
  --disable-component-extensions-with-background-pages \
  --disable-component-update \
  --user-stylesheet=file:///home/pi/hide-translate.css \
  https://infotv.magion.dk/?TV=TV_Hovedingang

Restart=always
RestartSec=10

[Install]
WantedBy=graphical.target
